USE [master]
GO
/****** Object:  Database [CS6232-g1]    Script Date: 3/18/2019 9:13:33 PM ******/
CREATE DATABASE [CS6232-g1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CS6232-g1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CS6232-g1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CS6232-g1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CS6232-g1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS6232-g1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS6232-g1]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 3/18/2019 9:13:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[administratorID] [int] IDENTITY(1,1) NOT NULL,
	[personID] [int] NOT NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[administratorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 3/18/2019 9:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[appointmentID] [int] IDENTITY(1,1) NOT NULL,
	[patientID] [int] NOT NULL,
	[doctorID] [int] NOT NULL,
	[apptDatetime] [datetime] NOT NULL,
	[reasonForVisit] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[appointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credential]    Script Date: 3/18/2019 9:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credential](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Credentials] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 3/18/2019 9:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[doctorID] [int] IDENTITY(1,1) NOT NULL,
	[personID] [int] NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[doctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSpecialty]    Script Date: 3/18/2019 9:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSpecialty](
	[doctorID] [int] NOT NULL,
	[specialtyName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DoctorSpecialty] PRIMARY KEY CLUSTERED 
(
	[doctorID] ASC,
	[specialtyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabTest]    Script Date: 3/18/2019 9:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTest](
	[testCode] [int] IDENTITY(1,1) NOT NULL,
	[testName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LabTest] PRIMARY KEY CLUSTERED 
(
	[testCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 3/18/2019 9:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse](
	[nurseID] [int] IDENTITY(1,1) NOT NULL,
	[personID] [int] NOT NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_Nurse] PRIMARY KEY CLUSTERED 
(
	[nurseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 3/18/2019 9:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[patientID] [int] IDENTITY(1,1) NOT NULL,
	[personID] [int] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[patientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 3/18/2019 9:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[personID] [int] IDENTITY(1,1) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[birthDate] [date] NOT NULL,
	[SSN] [char](11) NOT NULL,
	[gender] [char](1) NOT NULL,
	[streetAddress] [varchar](200) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[state] [char](2) NOT NULL,
	[postCode] [varchar](10) NOT NULL,
	[phoneNumber] [char](10) NOT NULL,
	[username] [varchar](50) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestOrdered]    Script Date: 3/18/2019 9:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestOrdered](
	[appointmentID] [int] NOT NULL,
	[testCode] [int] NOT NULL,
	[testDate] [datetime] NOT NULL,
	[result] [bit] NULL,
	[resultDetails] [varchar](200) NULL,
 CONSTRAINT [PK_TestOrdered] PRIMARY KEY CLUSTERED 
(
	[appointmentID] ASC,
	[testCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visit]    Script Date: 3/18/2019 9:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visit](
	[appointmentID] [int] NOT NULL,
	[weight] [decimal](5, 2) NOT NULL,
	[systolicBP] [int] NOT NULL,
	[diastolicBP] [int] NOT NULL,
	[temperature] [decimal](5, 2) NOT NULL,
	[pulse] [int] NOT NULL,
	[symptoms] [varchar](200) NOT NULL,
	[initialDiagnosis] [varchar](200) NOT NULL,
	[finalDiagnosis] [varchar](200) NULL,
	[nurseID] [int] NOT NULL,
 CONSTRAINT [PK_Visit] PRIMARY KEY CLUSTERED 
(
	[appointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([administratorID], [personID]) VALUES (1, 1)
INSERT [dbo].[Administrator] ([administratorID], [personID]) VALUES (3, 5)
INSERT [dbo].[Administrator] ([administratorID], [personID]) VALUES (4, 12)
SET IDENTITY_INSERT [dbo].[Administrator] OFF
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([appointmentID], [patientID], [doctorID], [apptDatetime], [reasonForVisit]) VALUES (1, 20, 3, CAST(N'2018-12-31T09:54:41.000' AS DateTime), N'High blood pressure')
INSERT [dbo].[Appointment] ([appointmentID], [patientID], [doctorID], [apptDatetime], [reasonForVisit]) VALUES (2, 67, 17, CAST(N'2018-05-05T15:47:13.000' AS DateTime), N'My abdomen hurts')
INSERT [dbo].[Appointment] ([appointmentID], [patientID], [doctorID], [apptDatetime], [reasonForVisit]) VALUES (3, 93, 27, CAST(N'2018-09-12T08:36:59.000' AS DateTime), N'I feel Nauseated ')
GO
SET IDENTITY_INSERT [dbo].[Appointment] OFF
INSERT [dbo].[Credential] ([username], [password], [role]) VALUES (N'abanvillep', N'VZwLN1', N'administrator')
INSERT [dbo].[Credential] ([username], [password], [role]) VALUES (N'administrator', N'password', N'administrator')
INSERT [dbo].[Credential] ([username], [password], [role]) VALUES (N'adresserm', N'zbL9WCvQ', N'nurse')
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([doctorID], [personID]) VALUES (1, 70)
INSERT [dbo].[Doctor] ([doctorID], [personID]) VALUES (2, 71)
INSERT [dbo].[Doctor] ([doctorID], [personID]) VALUES (3, 72)
SET IDENTITY_INSERT [dbo].[Doctor] OFF
INSERT [dbo].[DoctorSpecialty] ([doctorID], [specialtyName]) VALUES (1, N'Family medicine')
INSERT [dbo].[DoctorSpecialty] ([doctorID], [specialtyName]) VALUES (2, N'Family medicine')
INSERT [dbo].[DoctorSpecialty] ([doctorID], [specialtyName]) VALUES (2, N'Gastroenterology')
SET IDENTITY_INSERT [dbo].[LabTest] ON 

INSERT [dbo].[LabTest] ([testCode], [testName]) VALUES (9, N'Arterial Blood Gas (ABG)')
INSERT [dbo].[LabTest] ([testCode], [testName]) VALUES (5, N'Chem 7')
INSERT [dbo].[LabTest] ([testCode], [testName]) VALUES (7, N'Coagulation Panel (PT, PTT & INR)')
SET IDENTITY_INSERT [dbo].[LabTest] OFF
SET IDENTITY_INSERT [dbo].[Nurse] ON 

INSERT [dbo].[Nurse] ([nurseID], [personID], [active]) VALUES (1, 2, 0)
INSERT [dbo].[Nurse] ([nurseID], [personID], [active]) VALUES (2, 3, 0)
INSERT [dbo].[Nurse] ([nurseID], [personID], [active]) VALUES (3, 4, 0)
SET IDENTITY_INSERT [dbo].[Nurse] OFF
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([patientID], [personID]) VALUES (1, 4)
INSERT [dbo].[Patient] ([patientID], [personID]) VALUES (2, 5)
INSERT [dbo].[Patient] ([patientID], [personID]) VALUES (3, 10)
GO
SET IDENTITY_INSERT [dbo].[Patient] OFF
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([personID], [lastName], [firstName], [birthDate], [SSN], [gender], [streetAddress], [city], [state], [postCode], [phoneNumber], [username]) VALUES (1, N'Kadwallider', N'Laurianne', CAST(N'1961-10-14' AS Date), N'153-97-6259', N'F', N'9563 Schurz Way', N'Baltimore', N'MD', N'21282', N'4105144837', N'lkadwallider0')
INSERT [dbo].[Person] ([personID], [lastName], [firstName], [birthDate], [SSN], [gender], [streetAddress], [city], [state], [postCode], [phoneNumber], [username]) VALUES (2, N'Tideswell', N'Jenni', CAST(N'1955-03-22' AS Date), N'791-69-9934', N'F', N'6417 4th Pass', N'San Diego', N'CA', N'92121', N'7606535303', N'jtideswell1')
INSERT [dbo].[Person] ([personID], [lastName], [firstName], [birthDate], [SSN], [gender], [streetAddress], [city], [state], [postCode], [phoneNumber], [username]) VALUES (3, N'Hardinge', N'Albina', CAST(N'1973-01-08' AS Date), N'481-78-3378', N'F', N'31167 Tony Hill', N'Denver', N'CO', N'80279', N'3039492657', N'ahardinge2')
GO
SET IDENTITY_INSERT [dbo].[Person] OFF
INSERT [dbo].[TestOrdered] ([appointmentID], [testCode], [testDate], [result], [resultDetails]) VALUES (1, 4, CAST(N'2019-01-01T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TestOrdered] ([appointmentID], [testCode], [testDate], [result], [resultDetails]) VALUES (4, 6, CAST(N'2018-11-21T00:00:00.000' AS DateTime), 0, N'Embryonic cyst of cervix')
INSERT [dbo].[TestOrdered] ([appointmentID], [testCode], [testDate], [result], [resultDetails]) VALUES (4, 7, CAST(N'2018-09-30T00:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Visit] ([appointmentID], [weight], [systolicBP], [diastolicBP], [temperature], [pulse], [symptoms], [initialDiagnosis], [finalDiagnosis], [nurseID]) VALUES (1, CAST(234.40 AS Decimal(5, 2)), 80, 88, CAST(99.80 AS Decimal(5, 2)), 158, N'I feel Nauseated ', N'Poisoning by unspecified topical agent, undetermined', N'Unspecified fracture of unspecified lumbar vertebra, initial encounter for open fracture', 1)
INSERT [dbo].[Visit] ([appointmentID], [weight], [systolicBP], [diastolicBP], [temperature], [pulse], [symptoms], [initialDiagnosis], [finalDiagnosis], [nurseID]) VALUES (2, CAST(354.20 AS Decimal(5, 2)), 150, 95, CAST(98.80 AS Decimal(5, 2)), 40, N'I feel Tired ', N'Explosion and rupture of aerosol can, sequela', N'Other specified injury of other specified blood vessels at shoulder and upper arm level, right arm, sequela', 12)
INSERT [dbo].[Visit] ([appointmentID], [weight], [systolicBP], [diastolicBP], [temperature], [pulse], [symptoms], [initialDiagnosis], [finalDiagnosis], [nurseID]) VALUES (3, CAST(209.90 AS Decimal(5, 2)), 179, 64, CAST(104.60 AS Decimal(5, 2)), 140, N'Back problems', N'Calcium deposit in bursa, right ankle and foot', NULL, 28)
GO
/****** Object:  Index [UQ_Administrator_PersonID]    Script Date: 3/18/2019 9:13:34 PM ******/
ALTER TABLE [dbo].[Administrator] ADD  CONSTRAINT [UQ_Administrator_PersonID] UNIQUE NONCLUSTERED 
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Appointment_Date_DoctorID]    Script Date: 3/18/2019 9:13:34 PM ******/
ALTER TABLE [dbo].[Appointment] ADD  CONSTRAINT [UQ_Appointment_Date_DoctorID] UNIQUE NONCLUSTERED 
(
	[apptDatetime] ASC,
	[doctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Appointment_Date_PatientID]    Script Date: 3/18/2019 9:13:34 PM ******/
ALTER TABLE [dbo].[Appointment] ADD  CONSTRAINT [UQ_Appointment_Date_PatientID] UNIQUE NONCLUSTERED 
(
	[apptDatetime] ASC,
	[patientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Doctor_PersonID]    Script Date: 3/18/2019 9:13:34 PM ******/
ALTER TABLE [dbo].[Doctor] ADD  CONSTRAINT [UQ_Doctor_PersonID] UNIQUE NONCLUSTERED 
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LabTest_TestName]    Script Date: 3/18/2019 9:13:34 PM ******/
ALTER TABLE [dbo].[LabTest] ADD  CONSTRAINT [UQ_LabTest_TestName] UNIQUE NONCLUSTERED 
(
	[testName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Nurse_PersonID]    Script Date: 3/18/2019 9:13:34 PM ******/
ALTER TABLE [dbo].[Nurse] ADD  CONSTRAINT [UQ_Nurse_PersonID] UNIQUE NONCLUSTERED 
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Patient_PersonID]    Script Date: 3/18/2019 9:13:34 PM ******/
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [UQ_Patient_PersonID] UNIQUE NONCLUSTERED 
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Person_SSN]    Script Date: 3/18/2019 9:13:34 PM ******/
ALTER TABLE [dbo].[Person] ADD  CONSTRAINT [UQ_Person_SSN] UNIQUE NONCLUSTERED 
(
	[SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TestOrdered_Appointment_TestDate_TestCode]    Script Date: 3/18/2019 9:13:34 PM ******/
ALTER TABLE [dbo].[TestOrdered] ADD  CONSTRAINT [UQ_TestOrdered_Appointment_TestDate_TestCode] UNIQUE NONCLUSTERED 
(
	[appointmentID] ASC,
	[testDate] ASC,
	[testCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Person] FOREIGN KEY([personID])
REFERENCES [dbo].[Person] ([personID])
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Person]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([doctorID])
REFERENCES [dbo].[Doctor] ([doctorID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([patientID])
REFERENCES [dbo].[Patient] ([patientID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Person] FOREIGN KEY([personID])
REFERENCES [dbo].[Person] ([personID])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Person]
GO
ALTER TABLE [dbo].[DoctorSpecialty]  WITH CHECK ADD  CONSTRAINT [FK_DoctorSpecialty_Doctor] FOREIGN KEY([doctorID])
REFERENCES [dbo].[Doctor] ([doctorID])
GO
ALTER TABLE [dbo].[DoctorSpecialty] CHECK CONSTRAINT [FK_DoctorSpecialty_Doctor]
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD  CONSTRAINT [FK_Nurse_Person] FOREIGN KEY([personID])
REFERENCES [dbo].[Person] ([personID])
GO
ALTER TABLE [dbo].[Nurse] CHECK CONSTRAINT [FK_Nurse_Person]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Person] FOREIGN KEY([personID])
REFERENCES [dbo].[Person] ([personID])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Person]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Credential] FOREIGN KEY([username])
REFERENCES [dbo].[Credential] ([username])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Credential]
GO
ALTER TABLE [dbo].[TestOrdered]  WITH CHECK ADD  CONSTRAINT [FK_TestOrdered_LabTest] FOREIGN KEY([testCode])
REFERENCES [dbo].[LabTest] ([testCode])
GO
ALTER TABLE [dbo].[TestOrdered] CHECK CONSTRAINT [FK_TestOrdered_LabTest]
GO
ALTER TABLE [dbo].[TestOrdered]  WITH CHECK ADD  CONSTRAINT [FK_TestOrdered_Visit] FOREIGN KEY([appointmentID])
REFERENCES [dbo].[Visit] ([appointmentID])
GO
ALTER TABLE [dbo].[TestOrdered] CHECK CONSTRAINT [FK_TestOrdered_Visit]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Appointment] FOREIGN KEY([appointmentID])
REFERENCES [dbo].[Appointment] ([appointmentID])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_Appointment]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Nurse] FOREIGN KEY([nurseID])
REFERENCES [dbo].[Nurse] ([nurseID])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_Nurse]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SSN must be unique' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Person', @level2type=N'CONSTRAINT',@level2name=N'UQ_Person_SSN'
GO
USE [master]
GO
